<div
  style="overflow: auto"
  [ngClass]="layout.config.settings.layout_type"
  [class]="layout.config.settings.layout_version"
>
  <div>
    <div class="d-flex flex-column">
      <form class="theme-form mt-3" [formGroup]="form">
        <div class="form-group">
          <label class="col-form-label pt-0" for="tablenumber"
            >{{'dining.tableNumber' | translate }}</label
          >
          <input
            class="form-control"
            id="tablenumber"
            type="text"
            formControlName="tableNumber"
            [placeholder]="('dining.enter' | translate)"
          />
          <!-- <small class="form-text text-muted" id="table_number">
            Please enter the numbers you want.
          </small> -->
        </div>
        <app-validation
          [control]="tableNumber"
          [fieldName]="'Table Number'"
        ></app-validation>
      </form>

      <button
        class="btn btn-primary mr-1 my-2"
        (click)="onSubmit()"
        [disabled]="form && form.invalid"
      >
      {{'MainPage.Submitbtn' | translate }}
      </button>
    </div>
  </div>
</div>
