<div class="position-relative">
  <owl-carousel-o [options]="sliderOptions">
    <ng-template carouselSlide *ngFor="let img of Images">
      <div class="sliderImg">
        <img src="{{ img }}" />
      </div>
      <div class="caption-carousel d-flex justify-content-center">
        <div>
          <h3>header</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            natus quis, iure, at, possimus corporis incidunt magnam quia
            deserunt recusandae ut tempore aut amet assumenda? Reiciendis ipsa
            eos ab fuga!
          </p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="wave hero"></div>
</div>

<div class="container" style="margin: auto;">
  <div class="main_title center">
    <span><em></em></span>
    <h2>Popular Categories</h2>
    <p> <!-- description--> </p>
  </div>
  <owl-carousel-o
    [options]="owlcarousel5Options"
    class="owl-theme categories_carousel"
  >
    <ng-template
      carouselSlide
      class="item owl-lazy"
      [id]="c.guid"
      [width]="211"
      [marginL]="20"
      *ngFor="let c of categories"
    >

      <div class="item_version_2">
        <a routerLink="/products" [queryParams]="{ category: c.guid }">
          <figure>
            <!-- <span>98</span> -->
            <!-- [src]="get_ImageUrl(c)" -->
            <img
              [src]="get_ImageUrl(c)"
              alt=""
              class="owl-lazy"
              width="350"
              height="450"
              [owlRouterLink]="['/products']"
              [queryParams]="{ category: c.guid }"
            />
            <div class="info">
              <h3>{{ c.name }}</h3>
              <!-- <small>Avg price $40</small> -->
            </div>
          </figure>
        </a>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<!-- <div class="container wrapper-card mt-4">
  <h3 class="text-left header-tittle pb-2">Discover By Category</h3>
  <owl-carousel-o [options]="owlcarousel5Options" class="c-wrapper">
    <ng-template
      carouselSlide
      class="item"
      [id]="c.guid"
      *ngFor="let c of categories"
    >
      <div class="c-div-wrapper">
        <img
          class="img-fluid"
          [src]="get_ImageUrl(c)"
          alt=""
          routerLink="/products"
          [queryParams]="{ category: c.guid }"
        />
        <h3 class="text-center c-header">{{ c.name }}</h3>
      </div>
    </ng-template>
  </owl-carousel-o>
</div> -->
