<div class="cart-box" (click)="toggleCart()">
  <app-feather-icons [icon]="'shopping-cart'"></app-feather-icons>
  <span class="badge badge-pill badge-primary"> {{ items.length }} </span>
</div>
<ul class="cart-dropdown onhover-show-div" [class.active]="openCart">
  <li>
    <h6 class="mb-0 f-20">Shoping Cart</h6>
    <app-feather-icons [icon]="'shopping-cart'"></app-feather-icons>
  </li>
  <li class="mt-0" *ngFor="let item of items">
    <div class="media">
      <img
        class="img-fluid rounded-circle mr-3 img-60"
        [src]="get_ImageUrl(item)"
        [alt]="item.name"
      />
      <div class="media-body">
        <span> {{ item.name }}</span>
        <p>{{ item.unit1 }}</p>
 
        <app-product-quantity
          [item]="item"
          [header]="''"
        ></app-product-quantity>
        <h6 class="text-right text-muted">KWD {{ item.endUser | number:'1.2-2':'en-US'}} x  {{ getQuantity(item) }}</h6>
      </div>
      <div class="close-circle">
        <a (click)="removeFromCart(item)">
          <app-feather-icons [icon]="'x'"></app-feather-icons>
        </a>
      </div>
    </div>
  </li>
  <li>
    <div class="total">
      <h6 class="mb-2 mt-0 text-muted">
        Order Total :
        <span class="f-right f-20"> KWD {{ getTotalPrice() | number:'1.2-2':'en-US'}} </span>
      </h6>
    </div>
  </li>
  <li>
    <a class="btn btn-block btn-primary view-cart" routerLink="products/checkout"> Checkout </a>
    <a class="btn btn-block btn-secondary view-cart" (click)="clearCart()"
      >Clear All</a
    >
  </li>
</ul>
