*.btn:focus {
  box-shadow: none !important;
  background-color: transparent;
}
::ng-deep .product-modal .product-box .product-details .product-size ul li {
  display: block;
}

// .btn-secondary:hover,
// .btn-secondary:focus,
// .btn-secondary:active,
// .btn-secondary.active {
//   border-color: #f73164 !important;
//   color: #f73164 !important;
//   background-color: transparent !important;
// }

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active {
  border-color: #f73164 !important;
  color: #f73164 !important;
  background-color: transparent !important;
}
.checkbox-solid-info label:before {
  background-color: #ffffff;
  border-color: #2b2b2b;
  color: #fff;
}
.checkbox-solid-info input[type="checkbox"]:checked + label::before {
  background-color: var(--theme-deafult);
  border-color: var(--theme-deafult);
  color: #fff;
}
