<h6 class="f-w-600"> {{ header }}</h6>
 
 
<div class="qty-box">
  <div class="input-group">
       
      <button
        class="btn btn-danger btn-circle"
        type="button"
        data-type="minus"
        data-field=""
        (click)="removeFromCart()"
      ><i class="fa fa-minus-circle fa-lg"></i>
        <!-- <app-feather-icons [icon]="'minus'"></app-feather-icons> -->
      </button>
     <input
      class="form-control "
      type="text"
      readonly
      name="quantity"
      [value]="getQuantity()"
    />
    
      <button
        class="btn btn-primary btn-circle"  
        type="button"
        data-type="plus"
        data-field=""
        (click)="addToCart()"
      > <i class="fa fa-plus-circle fa-lg"></i>

        <!-- <app-feather-icons [icon]="'plus'"></app-feather-icons> -->
      </button>
   </div>
</div>