<div class="card-body filter-cards-view animate-chk">
  <div class="product-filter">
    <h6 class="f-w-600">Category</h6>
    <div class="checkbox-animated mt-0">
      <label
        class="d-block"
        for="edo-ani5"
        [class.active]="!category"
        routerLink="/products"
      >
        <input
          class="radio_animated"
          id="edo-ani5"
          type="radio"
          name="categoryMenu"
          data-original-title=""
          title=""
        />All Categories
      </label>
      <label
        class="d-block"
        [class.active]="category === c.guid"
        for="edo-ani5"
        routerLink="/products"
        [queryParams]="{ category: c.guid }"
        *ngFor="let c of category$ | async"
      >
        <input
          class="radio_animated"
          id="edo-ani5"
          type="radio"
          data-original-title=""
          name="categoryMenu"
          title=""
        />
        {{ c.name }}
      </label>
    </div>
  </div>
</div>
