<app-breadcrumb
  [title]="'Cart'"
  [items]="[]"
  [active_item]="'Cart'"
></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="order-history table-responsive wishlist">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of items">
                    <tr>
                      <td>
                        <img
                          class="img-fluid rounded-circle mr-3 img-60"
                          [src]="get_ImageUrl(item)"
                          [alt]="item.name"
                        />
                      </td>
                      <td>
                        <div class="main-product-name">
                          <a href="javascript:void(0);">{{ item.name }}</a>
                        </div>
                      </td>
                      <td>{{ item.endUser | currency: "KWD" }}</td>
                      <td>
                        <app-product-quantity
                          [item]="item"
                          [header]="''"
                        ></app-product-quantity>
                      </td>
                      <td>
                        <span
                          style="cursor: pointer"
                          (click)="removeFromCart(item)"
                        >
                          <i data-feather="x-circle"></i>
                        </span>
                      </td>
                      <td>
                        {{ getTotalProductPrice(item) | currency: "KWD":true }}
                      </td>
                    </tr>
                    <tr *ngFor="let extraItem of item.extraItems">
                      <td>
                        <img
                          class="img-fluid rounded-circle mr-3 img-60"
                          [src]="get_ImageUrl(extraItem)"
                          [alt]="extraItem.name"
                        />
                      </td>
                      <td>
                        <span class="badge badge-secondary pull-left"
                          >Extra</span
                        >
                        <div class="product-name">
                          <a href="javascript:void(0);">{{ extraItem.name }}</a>
                        </div>
                      </td>
                      <td>{{ extraItem.endUser | currency: "KWD" }}</td>
                      <td>
                        <app-product-quantity
                          [item]="item"
                          [extraItem]="extraItem"
                          [header]="''"
                        ></app-product-quantity>
                      </td>
                      <td>
                        <span
                          style="cursor: pointer"
                          (click)="removeExtraFromCart(item, extraItem)"
                        >
                          <i data-feather="x-circle"></i>
                        </span>
                      </td>
                      <td>
                        <!-- {{ getTotalProductPrice(item) | currency: "KWD":true }} -->
                      </td>
                    </tr>
                  </ng-container>

                  <tr>
                    <td class="total-amount">
                      <h6 class="m-0 text-center">
                        <span class="f-w-600">Total Price :</span>
                      </h6>
                    </td>
                    <td>
                      <span> {{ getTotalPrice() | currency: "KWD" }} </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        class="btn btn-success cart-btn-transform"
                        (click)="checkout(view)"
                        >Submit</a
                      >
                    </td>
                    <td class="text-center" colspan="1">
                      <a
                        class="btn btn-secondary cart-btn-transform"
                        routerLink="/"
                        >continue shopping</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-table-number-view #view></app-table-number-view> -->
<app-category-view #view></app-category-view>
