<app-breadcrumb
  [title]="'Cart'"
  [items]="[]"
  [active_item]="'Cart'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="order-history table-responsive wishlist">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>
                      <img
                        class="img-fluid img-40"
                        [src]="get_ImageUrl(item)"
                        [alt]="item.name"
                      />
                    </td>
                    <td>
                      <div class="product-name">
                        <a href="javascript:void(0);">{{ item.name }}</a>
                      </div>
                    </td>
                    <td>{{ item.endUser | currency: "KWD" }}</td>
                    <td>
                      <app-product-quantity
                        [item]="item"
                        [header]="''"
                      ></app-product-quantity>
                    </td>
                    <td><i data-feather="x-circle"></i></td>
                    <td>
                      {{ getTotalProductPrice(item) | currency: "KWD":true }}
                    </td>
                  </tr>
                  <tr>
                    <td class="total-amount">
                      <h6 class="m-0 text-right">
                        <span class="f-w-600">Total Price :</span>
                      </h6>
                    </td>
                    <td><span> {{ getTotalPrice()  | currency: "KWD"}} </span></td>
                  </tr>
                  <tr>
                    <td class="text-right" colspan="5">
                      <a
                        class="btn btn-secondary cart-btn-transform"
                        routerLink="/"
                        >continue shopping</a
                      >
                    </td>
                    <td>
                      <a class="btn btn-success cart-btn-transform" (click)="checkout()"
                        >check out</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
