<ng-template #quickView let-modal>
    <div class="modal-content">
      <div class="modal-header product-modal">
        <div class="product-box row">
          <div class="product-img col-md-6"><img class="img-fluid" src="assets/images/ecommerce/base.jpg" alt=""></div>
          <div class="product-details col-md-6 text-left">
            <h4>Pizza</h4>
            <div class="product-price">KWD 26.00
              <del>KWD 350.00    </del>
            </div>
            <div class="product-view">
              <h6 class="f-w-600">Details</h6>
              <p class="mb-0">Details here ... </p>
            </div>
            <div class="product-size">
              <ul>
                <li> 
                  <button class="btn btn-outline-light" type="button">M</button>
                </li>
                <li> 
                  <button class="btn btn-outline-light" type="button">L</button>
                </li>
                <li> 
                  <button class="btn btn-outline-light" type="button">Xl</button>
                </li>
              </ul>
            </div>
            <div class="product-qnty">
              <h6 class="f-w-600">Quantity</h6>
              <div class="qty-box">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">
                      <app-feather-icons [icon]="'minus'"></app-feather-icons>
                    </button>
                  </span>
                  <input class="form-control input-number" type="text" name="quantity" value="1">
                  <span class="input-group-prepend">
                    <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">
                      <app-feather-icons [icon]="'plus'"></app-feather-icons>
                    </button>
                  </span>
                </div>
              </div>
              <div class="addcart-btn">
                <button class="btn btn-primary mr-1" type="button">Add to Cart</button>
                <!-- <button class="btn btn-primary" type="button">View Details</button> -->
              </div>
            </div>
          </div>
        </div>
        <button class="close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">×</span></button>
      </div>
    </div>
</ng-template>