<ng-template #quickView let-modal>
  <div
    class="modal-content"
    style="overflow: auto"
    [ngClass]="layout.config.settings.layout_type"
    [class]="layout.config.settings.layout_version"
  >
    <div class="modal-header product-modal">
      <div class="product-box row">
        <div class="product-img col-md-6">
          <img class="img-fluid" [src]="get_ImageUrl(item)" alt="" />
        </div>
        <div class="product-details col-md-6 text-left">
          <h4>{{ (isArabicLan()) ? item.latin_Name : item.name }}</h4>
          <div class="product-price">
            <div class="my-2">
              {{ item.endUser | currency: "KWD" }}
            </div>

            <!-- <del>$350.00 </del> -->
          </div>
          <div class="product-view" (click)="onClickNote()">
            <h6 class="f-w-600">{{"MainPage.ProductDetails" | translate}}</h6>
            <p class="mb-0" >
              <!-- {{ item.note }} -->
              <textarea [disabled]="!isClicked" (blur)="setNote($event.target.value)" [placeholder]="('MainPage.Note' | translate)" name="" id="" cols="30" rows="10">{{ item.note }}</textarea>
            </p>
          </div>
          <div class="product-size product-size-width">
            <ul>
              <li
                *ngFor="let eitem of extraItems; let i = index"
                [class.first-item]="i == 0"
              >
                <app-extra-item
                  [item]="item"
                  [disabled]="!(quantity > 0)"
                  [extraItem]="eitem"
                ></app-extra-item>
              </li>
            </ul>
          </div>
          <div class="product-qnty d-flex justify-content-between">
            <app-product-quantity [header]="('MainPage.Quantity' | translate)" [item]="item"></app-product-quantity>
            <div class="addcart-btn">
              <button
                class="btn btn-primary mr-1"
                (click)="addToCart(item)"
                type="button"
              >
              {{ "MainPage.AddToCart" | translate }}
              </button>
              <!-- <button class="btn btn-primary" type="button">
                View Details
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <button class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
</ng-template>
