<ng-template #quickView let-modal>
  <div class="modal-content" style="overflow: auto;">
    <div class="modal-header product-modal">
      <div class="product-box row">
        <div class="product-img col-md-6">
          <img class="img-fluid" [src]="get_ImageUrl(item)" alt="" />
        </div>
        <div class="product-details col-md-6 text-left">
          <h4>{{ item.name }}</h4>
          <div class="product-price">
            {{ item.endUser | currency: "KWD" }}
            <!-- <del>$350.00 </del> -->
          </div>
          <div class="product-view">
            <h6 class="f-w-600">Product Details</h6>
            <p class="mb-0">
              {{ item.note }}
            </p>
          </div>
          <div class="product-size" *ngIf="quantity > 0">
            <ul>
              <li *ngFor="let eitem of extraItems">
                <app-extra-item [item]="item" [extraItem]="eitem"></app-extra-item>
              </li>
            </ul>
          </div> 
          <div class="product-qnty">
            <app-product-quantity [item]="item"></app-product-quantity>
            <div class="addcart-btn">
              <button class="btn btn-primary mr-1" (click)="addToCart(item)" type="button">
                Add to Cart
              </button>
              <!-- <button class="btn btn-primary" type="button">
                View Details
              </button> -->
            </div>
          </div>
        </div>
      </div>
      <button class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
</ng-template>
