<div
  *ngIf="control && control?.touched && control?.invalid"
  class="alert alert-danger my-2"
>
  <span *ngIf="control?.errors?.required">
    Please fill in this field ( {{ fieldName }} ).
  </span>
  <span *ngIf="control?.errors?.pattern"> invalid {{ fieldName }} </span>
  <span *ngIf="control?.errors?.minlength">
    minimum characters for {{ fieldName }} (
    {{ control?.errors?.minlength.requiredLength }} )
  </span>
  <span *ngIf="control?.errors?.maxlength">
    maximum characters for {{ fieldName }} (
    {{ control?.errors?.maxlength.requiredLength }} )
  </span>
  <span *ngIf="control?.errors?.max">
    max {{ fieldName }} {{ control?.errors?.max.max }} ( you entered
    {{ control?.errors?.max.actual }})
  </span>
</div>
