  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid" src="assets/images/ecommerce/01.jpg" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" (click)="QuickView.openModal()"><i class="icon-eye"></i></button>
            </li>
            <!-- <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
        <h4>Man's Shirt</h4>
        <p>Simply dummy text of the printing.</p>
        <div class="product-price">$26.00 
          <del>$350.00    </del>
        </div>
      </div>
    </div>
  </div>